# Database
DATABASE_URL="postgresql://username:password@your-rds-endpoint:5432/oasisblog"

# NextAuth
NEXTAUTH_URL="http://your-ec2-public-ip:3000"
NEXTAUTH_SECRET="your-secret-key-here"

# App
NODE_ENV="production"
PORT=3000
